//FOOTER
footer{
    display: flex;
    justify-content: space-evenly;
    background:black url(../imgs/footer.jpg);
    width:100%;
    max-width: 1440px;
    & > section {display: flex;
        flex-direction: column;
        color:white;
        text-align:center;
            ul {list-style-type: none;
            padding:0;
        li a {color:inherit; 
            text-decoration: none;}}
          
        ol{list-style-type: none;}
    h1 {font-size:1em;
    font-weight: inherit;}
    }}