/*Header*/
body > header {
    background: #000 url("../imgs/orelheader.jpg") no-repeat center top;
background-size: cover;
height: 500px;
width:100%;
max-width:1440px;
display: flex;
justify-content:  flex-end;
align-items: flex-end;

& > nav {
    align-content: flex-end;
    ul{list-style-type: none;
        display: flex;
        margin-bottom:10px;
        margin-right: 70px;
        >li
        
        a {
            padding:10px 40px 10px;
            margin:30px 40px 20px 40px;    
            font-weight: bold;
            text-decoration: none;
            color:white}
            a:hover{background-color: rgba(145, 28, 28, 0.7);
                color: white;
            
            }
            
        }

    }
}

.active {
    background-color: white;
    color:black;
}