@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Oswald:wght@500&display=swap%27');

$maj-font:"Oswald"

:root{
    font-size: 20px}
    
body, html{
    font-family: "Montserrat", sans-serif;
}

.active {
    background-color: white;
    color:black;
}

    /*Header*/
body > header {
    background: #000 url("../imgs/orelheader.jpg") no-repeat center top;
background-size: cover;
height: 500px;
display: flex;
justify-content:  flex-end;
align-items: flex-end;

    & > nav {
        align-content: flex-end;
         ul{list-style-type: none;
            display: flex;
            margin-bottom:10px;
            margin-right: 70px;
            >li
    
             a {
                padding:10px 20px 30px;
                margin:30px 30px 20px 30px;    
                font-weight: bold;
                text-decoration: none;
                color:white}
            
        }
    }
}

/*Body*/
body{display: flex;
    align-items: center;
    flex-direction: column;
}
main {
    width:980px;
        h1 {font-family: ($maj-font);}
}
aside{
    background: rgb(145, 28, 28);
}
.second{ 
display: flex;
flex-direction: row;

> article {
    flex-grow:2
}
}
