@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Oswald:wght@500&display=swap%27');

$maj-font:"Oswald";

:root{font-size: 20px;}    

body, html{
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
}



    
//BODY ACCUEIL

body{
   display:flex;
   flex-direction:column;
   align-items:center; 
   h1 {font-family: ($maj-font);
    font-size: 3rem;
    text-align: center;
}
main {
    width:100%;
    max-width:980px;
    .second{ 
    display: flex;
    flex-direction: row;
        > article {
            flex-grow:2;
            a {list-style-type:none;
                  padding: 0;
                    margin:0;
                   border: 1px solid rgb(145, 28, 28);
                    padding:5px;
                    text-decoration:none;
                            color:rgb(145, 28, 28);
                            font-weight: bold;
                            
                    }}
        .bio {
            display: flex;
            flex-direction: column;
            background: rgb(145, 28, 28);
            padding: 20px;
            font-weight:bold;

            h1{
                color: white;
            }
            img{
                order:-1
            }
            span {

                color:white;
            font-size:1em;}
            p {font-size:1em;}
        }}
.third {display: flex;
    flex-direction: column;
    > figure> img {
    max-width: 175px;
margin:2px;}
>p {align-self: center;}


    }}
}

/*BODY ALBUMS*/
.main_albums{display: flex;
    flex-direction: column;
    section 
        img {float:left;
    margin:30px 40px 40px 0;}
    h1{justify-content: flex-start;}
}

/*BODY RESERVATION*/
.main_rsvt{
    display: flex;
    flex-direction:column;
    .dates_contact{display: flex; flex-direction: column;
        margin-top:70px;
        h1 {text-align:center;}
        div { display: flex; flex-direction: row; 
            table {margin: 5px 30px;
                
                th{font-weight: bold;
                text-align:left;
            padding: 5px 10px}
                td {border: 5px; 
                    text-align: left ;
            padding: 5px 10px;}}
            table a {border: 1px solid rgb(145, 28, 28);
            padding: 5px 10px;
        text-decoration: none;
    color:rgb(145, 28, 28);
font-weight: bold;}
aside {
h1 {margin:0px;
    font-size: 30px;
    text-align: left;}
 ul {
     list-style-type: none;
     padding: 0px;
     a {text-decoration: none;
color: black;
text-align: left; }}
}
}}
.reservation{display: flex;
    justify-content: center;
    
section {display: flex;
    flex-direction: column;
    margin: 20px;
    h2 {color:rgb(145, 28, 28);
text-transform: uppercase;}
span {
    margin: 10px;
    input, select {border: 1px solid rgb(207, 207, 207);
    padding: 5px;} 
> .button_annuler, .button_commander {
    text-decoration: none;
    padding: 5px 10px; 
    border:1px solid rgb(145, 28, 28);
color:rgb(145, 28, 28);
background-color: transparent;
font-size: 1rem;
font-weight: bold;
font-family: "Montserrat";}}
}

 }}



@import "_header.scss";

@import "_footer.scss";